.lgpd-container {
  width: 96%;
  background: linear-gradient(to bottom right, lighten($accent-color, 5%), $accent-color);
  position: fixed;
  bottom: calc(var(--vh, 1vh) * 1.5);
  left: 2%;
  z-index: 500;
  box-shadow: 0px 3px 12px -2px rgba(53, 60, 95, 0.15), 0px 3px 15px 0px rgba(53, 60, 95, 0.15);
  border-radius: 45px;
  padding: 3px;
  overflow: hidden;
  transition: 125ms;
  padding: 10px;
  display: flex;
  flex-flow: column-reverse;

  .lgpd {
    width: 100%;
    height: 100%;
    border-radius: 45px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    button {
      margin: 0px;
      font-size: 4vw;
      font-weight: 400;
      color: #fff;
      outline: none;
      font-size: 0.75rem;
      background-color: transparent;
      border: none;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      transition: 250ms;

      &.btn-link {
        width: 100%;
      }

      &.lgpd-accept {
        font-weight: 600;
        padding-left: 2.5vw;
        position: relative;

        &:before {
          position: absolute;
          content: '';
          left: 0;
          top: calc(50% - 10px);
          width: 1px;
          height: 20px;
          background-color: rgba(255, 255, 255, 0.3);
        }
      }

      &:focus,
      &:hover {
        text-decoration: none;
        outline: none;
        box-shadow: none;
      }

      .lgpd-arrow {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url('../img/lgpd-arrow.svg');
        background-position: center;
        background-size: 85%;
        background-repeat: no-repeat;
        margin-right: 5px;
        animation: closeArrow 250ms linear forwards;
      }
    }
  }

  #content.collapse,
  #content.collapsing {
    margin: 0;

    p {
      margin: 0px;
      color: rgba(255, 255, 255, 0.85);
      margin-bottom: 70px;
      font-size: 0.85rem;
      opacity: 0;
      transition: 150ms;
      
      &:first-child {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      
      a {
        font-weight: 500;
        color: white;
        text-decoration: underline;
      }
    }
  }

  &.low-index {
    z-index: 200;
  }
  
  &.show {
    border-radius: 5px;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: flex-start;

    .lgpd {
      button {
        font-size: 0.875rem;

        .lgpd-arrow {
          animation: openArrow 250ms linear forwards;
        }

        &.lgpd-accept {
          position: absolute;
          bottom: 20px;
          left: calc(50% - 42px);
          padding: 5px 10px !important;
          font-size: 1rem;
          border: 1px solid rgba(255, 255, 255, 1);
          border-radius: 8px;
          letter-spacing: 0.02em;
          animation: pulseButton 1500ms infinite;
          transition: 200ms;

          &:before {
            display: none;
          }

          &:hover, &:focus {
            background-color: rgba(255, 255, 255, 0.98);
            color: $accent-color;
          }
        }
      }
    }
  }

  #content.collapse.show p {
    opacity: 1;
  }

  @media screen and (max-width: 349px) {
    width: 100%;
    left: 0;
    border-radius: 0px;
    bottom: 0;
    padding: 10px;

    .lgpd {

      button {
        font-size: 0.75rem;
      }
    }

    #content.collapse,
    #content.collapsing {
      margin: 0;
  
      p {
        font-size: 0.70rem;
      }
    }
  }

  @media screen and (min-width: 425px) {
    padding: 10px 15px;
  }

  @media screen and (min-width: 750px) {
    max-width: 1400px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    bottom: 20px;
    display: flex;
    flex-flow: row;
    z-index: 200;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 15px 25px;
    
    .lgpd {
      width: auto;
      display: inline-block;

      .btn-link {
        display: none;
      }

      .lgpd-accept {
        padding: 7px 14px !important;
        font-size: 1rem;
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
        border-radius: 8px;
        letter-spacing: 0.02em;
        transition: 200ms;
        margin-left: 15px;
        margin-right: 0px;

        &:before {
          display: none;
        }

        &:hover, &:focus {
          background-color: rgba(255, 255, 255, 0.98);
          color: $accent-color;
          animation: pulseButton 1500ms infinite;
        }
      }
    }

    #content {
      display: inline-block;

      p {
        opacity: 1 !important;
        margin: 0px 0px 3px !important;
        font-size: 0.75rem !important;
        color: white !important;
        font-weight: 400;
        display: inline-block;
        letter-spacing: 0.01em;
      }
    }
  }

  &.destroy {
    animation: destroyLGPD 200ms ease-out forwards;
  }
}

@keyframes destroyLGPD {
  0% {
    opacity: 1;
    transform: scale(1);
  } 99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


@keyframes openArrow {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  } 50% {
    opacity: 0;
  } 100% {
    transform: rotate(180deg);
    opacity: 1;
  }
}

@keyframes closeArrow {
  0% {
    transform: rotate(180deg);
    opacity: 1;
  } 50% {
    opacity: 0;
  } 100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
